@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.tela{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/vetores-gratis/superficie-geometrica-verde-palida_23-2148362563.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat; /* Evita repetição */
    background-position: center; /* Centraliza a imagem */
}

.apresentacao{
    background-color: #278627d5;
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    border: 1px solid green;
}

.divlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 90%;
}

form h3{
    margin-bottom: 1rem;
    font-size: 30px;
    color: #fff;
}

form p{
    color: #fff;
}

form .senha{
    font-size: 12px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.icons ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.icons svg{
    font-size: 25px;
    margin: 15px 9px;
    color: #fff;
    cursor: pointer;
}

/* Tela de apresentacao */
.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27862776;
    font-family: 'Inter', sans-serif;
}

.texto p{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-indent: 15px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
}

@media screen and (max-width: 540px){
    .tela{
        display: flex;
        align-items: end;
        justify-content: end;
    }
    
    .apresentacao{
        grid-template-columns: 1fr;
        height: 100vh;
        border: none;
    }

    form h3{
        text-align: center;
    }

    .texto{
        display: none;
    }
}